
.chat-box {
  background: rgb(0,0,0);
  margin: 100px auto;
  max-width: 400px;
  height: 300px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  /*border : 1px solid #000;*/
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 80%;
  height: 60%;
  overflow: scroll;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  background: rgb(0,0,0);
}

.chat-container.active {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 1;
}

.chat-container.hidechat {
  transform: translateX(-10%);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

.bubble {
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  background: #95c2fd;
  padding: 0.5em 1em;
  background: rgb(255,255,255);
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
  font-size: 1em;
  margin-top: 30px;
  opacity: 0;
}

.bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  bottom: 1px;
  transform: rotateZ(-90deg);
  left: -15px;
}

.bubble-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(90deg);
  right: -16px;
}

.datestamp {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: #8b91a0;
  float: left;
  opacity: 0;
}

.dt-alt {
  float: right;
}

.chat-control {
  padding: 1.2em;
  margin-top: 200px;
}

.chat-input {
  margin: 0px auto;
  width: 80%;
  border: none;
  background: black;
  color: rgba(255,255,255, 0.7);
  padding: 0.7em;
}

.chat-input2 {
  width: 10%;
  border: none;
  background: black;
  color: rgba(255,255,255, 0.7);
  padding: 0.7em;
}

.chat-input:focus {
  border: none;
}

.chat-header {
  background: #fff;
  padding: 0.5em;
  padding-bottom: .7em;
  text-align: center;
}

.chat-header span {
  font-size: 12px;
  position: absolute;
  margin: 47px -50px;
  font-style: italic;
}

.imgvideos
{
  margin: auto;
  width: 100%;
}
